body {
    background: paleturquoise;
    font-famiily: Helvetica, Arial, sanserif;
    margin: 0;
    text-align: center;
    display: grid;
    align-content: center;
    min-height: 100vh;

}

h1 {
    font-size: 48px;
    text-transform: uppercase;
    text-align: center;
}

h2 {
    text-align: center;
}

p {
    max-width: 30em;
    margin: 0 auto;
}

ul {
    text-align: left;
    margin: 0 auto;
    padding: 0;
}

a {
    color: coral;
}