/* #BASE CSS (Initital Setup)
---------------------------------
    #BASE CONTENT
        #TYPOGRAPHY
            #BODY
            #HEADINGS
            #PARAGRAPHS
            #LINKS
            #HELPERS
        #MEDIA
            #IMAGES
        #COMPONENTS
            #BUTTONS
    #BASE LAYOUT
        #SIMPLE RESET
        #MEDIAQUERIES
        #CONTAINER
        #GRID SYSTEM
            #CLEARFIX
    #BASE SITE
        #SITE STRUCTURE
            #HEADER
                # site-id (LOGO)
            #FOOTER
            #SECTIONS
            #SUB PAGES
        #SITE NAVIGATION
            #TOGGLE-NAV (Default for Small Screens)
--------------------------------- */

body {
    /* set body to 14px */
    font-size: 87.5%;
    line-height: 1.5;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb( 0 0 0 / .8);
}
@media (min-width : 768px) {
    /* set body to 16px */
    body {
        font-size: 100%;
    }
}
/* set body to 18px */
@media (min-width : 1200px) {
    body {
        font-size: 112.5%;
    }
}  

h1, h2, h3, h4, h5, h6 {
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    font-size: 2.25em;
    line-height: 1;
}
h2 {
    font-size: 1.875em;
    line-height: 1.1;
}
h3 {
    font-size: 1.5em;
    line-height: 1.2;
}
h4 {
    font-size: 1.3125em;
    line-height: 1.3;
}
h5 {
    font-size: 1.125em;
    line-height: 1.4;
}
h6 {
    font-size: 1em;
    line-height: 1.5;
}

h1, h2, h3, h4, h5, h6, p {
    margin: .5em 0;
}

p + h1,
p + h2,
p + h3,
p + h4,
p + h5,
p + h6, {
    margin-top: 2em;
}

/* MEDIA */
img {
    max-width: 100%;
    height: auto;
}
/* PARAGRAPHS */
p {
    margin: 0 0 0.5em 0;
    max-width: 38em;
}

.centered p {
    margin-left: auto;
    margin-right: auto;
}

strong {
    font-weight: 700;
}

em {
    font-style: italic;
}

/* LINKS */
a {
    color: #036;
    text-decoration: none;
}

a:hover {
    color: #003;
}

/* HELPERS */
.text-centered {
    text-align: center;
}

.full-width {
    max-width: none;
    width: 100%;
}

.horiz-center {
    margin-left: auto;
    margin-right: auto;
}

.hidden {
    position: absolute;
    top: -9999px;
    left: -9999px;
}

.subheader {
    color: #999;
    margin-top: 1em;
    font-style: normal;
    font-weight: normal;
    clear: both;
}

/* HORIZONTAL RULES */
hr {
    border: 0;
    height: 1px;
    background: #ddd;
    margin: 2em 0;
}

/* COMPONENTS */
/* BUTTONS */
button {
    font-size: inherit;
}

button,
a.button {
    display: inline-block;
    background-color: #036;
    border: 1px solid #036;
    color: #fff;
    padding: 0.75em 1em;
    border-radius: 0.32em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    border: none;
    cursor: pointer;
    line-height: 1;
}

button.alt,
a.button.alt {
    background-color: transparent;
    border: 1px solid #036;
    color: #036;
}

button:hover,
a.button:hover {
    background-color: #003;
    color: #fff;
    border-color: #003;
    text-decoration: none;
}

/* LAYOUT */

/* SIMPLE RESET */
* { box-sizing: border-box; }
body { margin: 0; }

/* CONTAINER */
.container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 4%;
}

/* MEDIA QUERIES */
@media (min-width: 768px) {
    /* TABLET SIZED STYLING GOES HERE */
}

@media (min-width: 1050px) {
    body {
        font-size: 100%; /* 16px */
    }
}

@media (min-width: 1250px) {
    body {
        font-size: 112.5%; /* 18px */
    }
    .container {
        max-width: 1200px;
    }
}

/* FOR DEMO PURPOSES */
body.demo {
    padding-top: 2em;
}
body.demo::before {
    content: "Small (mobile) screen less than 768px";
    background-color: #933;
    width: 100%;
    position: fixed;
    top: 0;
    text-align: center;
    color: white;
    padding: .5em;
}

@media (min-width: 768px) {
    body.demo::before {
        background-color:#bcb83d;
        content: "Midsize (tablet) screen 768px - 1050px";
    }
}

@media (min-width: 1050px) {
    body.demo::before {
        background-color:#693;
        content: "Large (notebook) screen 1050px - 1250px";
    }
}

@media (min-width: 1250px) {
    body.demo::before {
        background-color:#09c;
        content: "Extra Large (desktop) screen 1250px +";
    }
}

/* SEMANTIC GRID SYSTEM */

.row > .column {
    margin-bottom: 2%;
}

@media (min-width: 768px) {

    .row {
        display: flex;
        justify-content: space-between;
        margin-left: -2%;
        margin-right: -2%;
    }

    .row > .column {
        flex-grow: 1;
        margin-left: 2%;
        margin-right: 2%;
    }

    .row > .column.one-half {
        max-width: 46%;
    }

    .row > .column.one-third {
        max-width: 29.3333%;
    }

    .row > .column.two-thirds {
        max-width: 62.666%;
    }

    .row > .column.one-fourth {
        max-width: 21%;
    }

    .row > .column.centered {
        margin-left: auto;
        margin-right: auto;
    }

}

/* FOR DEMO PURPOSES ONLY */
.demo .column {
    background: rgba(0,0,0,.2);
    padding: 1em;
    text-align: center;
}